mat-form-field,
textarea {
  width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preeview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preeview img {
  height: 100%;
}
